node_modules
dist
.tmp
.sass-cache
app/bower_components
test/bower_components

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# Folders to ignore
node_modules
bower_components