<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Customize ng-Grid</title>
        <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="../styles/main.css"/>
        <script src="../bower_components/jquery/jquery.js"/>
        <script src="../bower_components/angular/angular.js"/>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.js"/>
        <script src="../bower_components/ng-grid/ng-grid-2.0.12.debug.js"/>

    </head>
    <body>
        <div class="container">
    <h1>Odin - Grid</h1>

        </div>
        <script src="../scripts/ng-odin/grid/directives.js"/>
        <script src="../scripts/ng-odin/grid/services.js"/>
        <script src="../scripts/ng-odin/grid/app.js"/>
    </body>
</html>
